<div class="container">
  <div class="row justify-content-center workshop-form-page">
    <div class="col-6">
      <h3>Créez votre atelier !</h3>
      <%= render 'form', workshop: @workshop %>
    </div>
  </div>
</div>
