
<div class="container my-4">
  <div class="profile-show-container">

  <!-- WELCOME MESSAGE -->

    <div class="profile-show-welcome">
      <h3 class="pt-3">Bonjour <%= @profile.first_name.capitalize %>,</h3>
      <h4>bienvenue sur ton espace !</h4>

    </div>

    <div class="row justify-content-center profile-show-grid">

      <% if current_user.profile.animator %>
        <%= render "workshops" %>
      <% end %>

      <% if current_user.profile.organizer %>
        <%= render "dashboard" %>
      <% end %>

      <% if current_user.profile.participant && current_user.profile.bookings.present? %>
        <%= render "bookings" %>
      <% end %>

    </div>

  </div>
</div>
