// Define variables for your color scheme

// For example:
$red: #FC4445;
$blue: #205B6B;
$yellow: #E8B535;
$bright-yellow: #f4af0c;
$orange: #E67E22;
$green: #71B0BA;
$green-online: #00DDAF;
$light-green: #DAEEEA;
$gray: #0E0000;
$medium-gray: #606060;
$light-gray: #f9f9f9;
