// Define variables for your color scheme

// For example:
$red: #FC4445;
$blue: #205B6B;
// $blue: #00566C;
$yellow: #E8B535;
// $yellow: #FFB700;
$orange: #E67E22;
$green: #71B0BA;
// $green: #00DDAF;
$light-green: #DAEEEA;
$gray: #0E0000;
$medium-gray: #606060;
$light-gray: #F4F4F4;
