// Define variables for your color scheme

// For example:
$red: #FC4445;
$blue: #00566C;
$yellow: #FFB700;
$orange: #E67E22;
$green: #00DDAF;
$light-green: #DAEEEA;
$gray: #0E0000;
$medium-gray: #606060;
$light-gray: #F4F4F4;
