.public-card-place-show {
  width: 280px;
  background-color: $green;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  min-height: 200px;
  height: 100%;
}

.card-place-header {
border: none;
display: flex;
justify-content: center;
margin: auto;
margin-top: 40px;
  .avatar {
    width: 130px;
    height: 130px;
    border: 1px solid white
  }
}

.card-place-body {
  border: none;
  i {
    color: $orange;
    margin-right: 5px;
  }
  p {
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    color: white;
  }
  h4 {
    text-align: center;
  }
  .bookings-and-average-rating {
    display: flex;
    justify-content: center;
    .card-owner-important-info {
      margin: 0 10px;
    }
  }

  h4 {
    font-size: 24px;
    font-weight: bolder;
    color: white;
  }
  h6 {
    margin-bottom: 2px;
  }
}

.card-place-footer {
  background: white;
  border: none;
  .simple_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-form-label {
    display: none;
  }
  .btn {
    margin-top: 0;
  }
}

.public-message-name-place {
  h2 {
    font-weight: 700;
  }
  h5 {
    font-size: 16px;
    font-style: italic;
  }
  i {
    color: $green;
  }
}

.public-places {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  color: $green;
  margin-bottom: 10px;
}


@media (min-width: 100px) and (max-width: 920px) {
  .my-reviews-owner-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 920px) {
  .my-reviews-owner-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.place-show-card-body {
  i {
    font-size: 25px;
    padding-top: 9px;
    margin-right: 10px;
    color: white;
  }
  p {
    margin-bottom: 0;
    font-size: 15px;
  }
  .button {
    margin-bottom: 10px;
    width: 235px;
    text-align: left;
  }
  .button:hover {
    opacity: 1;
  }
  #check-icon {
    font-size: 23px;
  }
}

.our-workshops-cards {
  display: grid;
  grid-gap: 16px;
}

.our-workshops-title {
  margin-bottom: 0.5em;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bolder;
}

.our-workshops-card {
  height: 120px;
  background: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 4px;
  overflow: hidden;

  .our-workshops-card-place {
    display: flex;
    align-items: center;
    img {
      height: 120px;
      width: 120px;
      object-fit: cover;
    }
  }

  .our-workshops-card-infos {
    padding-left: 16px;
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
  }

  h6 {
    font-size: 14px;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

