
// BOOKINGS NEW
.my-bookings-nav {
  .nav-tabs {
    border-bottom-color: $green;
  }
  .nav-link {
    background-color: $light-gray;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: none;
    border-left: none;
    border-bottom-color: $green;
  }
  .nav-link.active {
    border-color: $green;
    background-color: $green;
    color: white;
  }
}

.bookings-table {
  td {
    color: $gray;
    font-weight: 400;
    vertical-align: middle;
  }
  i {
    font-size: 20px;
  }
  p {
    margin-bottom: 0;
  }
  #invite-to-comment {
    font-size: 13px;
    font-weight: 700;
    color: $yellow;
    padding-bottom: 4px;
    border-bottom: 2px solid $yellow;
  }
  #invite-to-comment:hover {
    color: $green;
    border-color: $green;
  }
}


// CONTAINER & GRID & WELCOME MESSAGE

.profile-show-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.profile-show-welcome {
  color: $blue;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bolder;
  }
  h5 {
    margin-bottom: 0;
  }
}

.profile-show-container {
  padding: 30px;
  margin: 60px 0;
}

// LEFT SIDE

.profile-show-card {
  width: 350px;
  background-color: transparent;
  border: none;
  .card-header {
    border: none;
  }
}

.profile-show-avatar {
  background-color: transparent;
  display: flex;
  justify-content: left;
  #avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: solid 1px $medium-gray;
    object-fit: cover;
    margin-right: 20px;
  }
}

.profile-show-card-body {
  i {
    font-size: 25px;
    padding-top: 9px;
    margin-right: 10px;
    color: white;
  }
  p {
    margin-bottom: 0;
  }
  .button {
    margin-bottom: 10px;
    width: 235px;
    text-align: left;
    // background: linear-gradient(to right, white, rgba(255,255,255,0.75));
  }
  #check-icon {
    font-size: 23px;
  }
}

// RIGHT SIDE

.public-show-col-right {
  padding: 30px 20px;
  h4 {
    color: white;
  }
}

.public-show-my-places {
  flex-grow: 1;
  grid-gap: 12px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  ul {
    list-style-type: none;
  }
  .card {
    border: none;
  }
  .button {
    font-size: 14px;
    width: 200px;
    padding: 2px 10px;
    text-align: left;
  }
  #booking-date-information {
    width: auto;
  }
  #booking-date-information:hover {
    opacity: 1;
  }
  #booking-date-information-gray {
    width: auto;
  }
  #booking-date-information-gray:hover {
    opacity: 0.7;
  }
}

.public-show-place-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    padding: 0;
  }
  i {
    color: $green;
    font-size: 20px;
    padding-left: 8px;
  }
  i:hover {
    color: $blue;
  }
}

.list-of-place-workshops {
  margin-top: 1.5em;
  #dates-status {
    font-size: 14px;
    font-weight: 400;
    color: $gray;
    opacity: 0.4;
  }
  #place-workshop-name {
    font-weight: 600;
  }
  .green-bar {
    padding-left: 15px;
    border-left: 4px solid $green-online;
  }
  .red-bar {
    padding-left: 15px;
    border-left: 4px solid $red;
  }
}

.workshop-actions-quickaccess {
  display: flex;
  align-items: center;
  i {
    font-size: 22px;
    padding-left: 14px;
    color: $medium-gray;
  }
  i:hover {
    color: black;
  }
}

.add-new-place {
  flex-grow: 1;
  grid-gap: 12px;
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  :hover {
    opacity: 1;
  }
  h5 {
    margin: 0;
    padding-left: 10px;
  }
}

.addNewPlaceClicked {
  background-color: $blue;
  opacity: 1;
  h5 {
    color: white;
  }
  i {
    color: white;
  }
}

#formAddPlace {
  margin: 30px 0;
  .form-control {
    border-radius: 8px;
  }
  .form-group {
    margin-bottom: 5px;
  }
  .button {
    margin-top: 15px;
    opacity: 0.8;
  }
  .button:hover {
    opacity: 1;
  }
  .btn-white {
    border: none;
  }
  .btn-transparent {
    color: $white;
    border: 1px solid $white;
    margin-left: 5px;
  }
  input[type=file] {
    color: rgba(255,255,255,0.6);
  }
  label {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }
}

// LIST OF WORKSHOPS OPEN / CLOSE

.hidden-list {
  display: none;
}

.display-list {
  display: block;
}

// FORM ADD PLACE OPEN / CLOSE

.hidden-form-place {
  display: none;
}

.display-form-place {
  display: block;
}

// RESPONSIVE DESIGN

// Smallest device
@media (min-width: 100px) and (max-width: 992px) {
  .profile-show-grid {
    grid-template-columns: 1fr;
  }
  .profile-show-welcome {
    text-align: center;
   }
  .profile-show-card-header {
    justify-content: center;
    margin-left: 0;
  }
  .list-of-place-workshops {
    .justify-content-between {
    flex-direction: column;
    }
    .workshop-actions-quickaccess {
      margin-top: 20px;
    }
  }
}


