.public-card-place {
  width: 300px;
  background-color: transparent;
  height: auto;
  border-right: 1px solid $blue;
  border-left: none;
  border-top: none;
  border-bottom: none;

}

.card-profile-header {
border: none;
display: flex;
justify-content: center;
margin: auto;
margin-top: 20px;
  .avatar {
    width: 100px;
    height: 100px;
  }
}

.card-profile-body {
  border: none;
  i {
    color: $blue;
    margin-right: 5px;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    color: $blue;
  }
  .bookings-and-average-rating {
    display: flex;
    justify-content: center;
    .card-profile-important-info {
      margin: 0 10px;
    }
  }

  h4 {
    font-size: 24px;
    font-weight: bolder;
    color: $blue;
    text-align: center;
  }
  h6 {
    color: $blue;
    margin-bottom: 2px;
  }
}

.profile-message-name-place {
  h2 {
    font-size: 25px;
    font-weight: 600;
  }
  h5 {
    font-size: 16px;
  }
}

.profile-reviews {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  color: $green;
  margin-bottom: 10px;
}

.my-dashboard-cards {
  display: grid;
  grid-gap: 16px;
}

.my-dashboard-card {
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.rating-in-card-review-public {
  font-size: 14px;
  i {
    font-size: 16px;
  }
  span {
    font-size: 11px;
  }
}

.my-public-owner-cards {
  display: grid;
  grid-gap: 16px;
}

.my-public-owner-card {
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

@media (min-width: 100px) and (max-width: 920px) {
  .my-reviews-owner-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 920px) {
  .my-reviews-owner-cards {
    grid-template-columns: 1fr 1fr;
  }
}
