.reviews-form {
  h3 {
    font-weight: 700;
    color: $blue;
    margin-bottom: 20px;
    line-height: 37px;
  }
  span {
    color: $green;
  }
}

.br-theme-css-stars .br-widget a {
  margin-right: 10px !important;
}

.review_rating {
  margin: 32px 0px;
}

.review_animator_rating {
  margin: 32px 0px;
}

.review_content {
  margin: 32px 0px;
}
