.container-big {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 60px;
  h4 {
    font-weight: 700;
  }
}

.top-of-show-page {
  padding-top: 0;
  padding-left: 5px;
  padding-right: 1px;
  p {
    margin-bottom: 8px;
  }
  #address-and-duration {
    i {
    margin-right: 10px;
    }
  }
}

.show-card-name {
  font-weight: bolder;
}

.price-workshop {
  position: relative;
  bottom: -7px;
  color: white;
  h5 {
    font-size: 25px;
  }
  #small-per-pers {
    font-weight: 300;
    font-size: 16px;
  }
}

.show-card-organizer {
  font-weight: bolder;
}

.show-card-animator {
  font-weight: bolder;
}

.place-booking-card {
  margin: 0;
  padding: 0;
  background-color: $green;
  border: 1px solid $green;
  height: 420px;
  border-radius: 0;
  text-align: center;
  h3 {
    color: black;
    margin: 0.8em;
  }
  .button {
    background: linear-gradient(to right, $blue 50%, $white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    font-weight: bolder;
    border: 1px solid $blue;
    width: auto;
  }
  .button:hover {
    border: 1px solid white;
    color: white;
    background-position: left bottom;
    opacity: 1;
  }
  input {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}

.show-card  {
  color: 1px solid black;
  p {
    padding: 5px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
  }
  .form-group {
    margin: 10px 40px;
  }
  .form-control {
    margin: 1.5em 0;
  }
  h4 {
    color: white;
    margin-top: 2em;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.thematic {
  color: white;
  border-radius: 4px;
  background-color: $yellow;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  padding: 3px 8px;
  text-align: center;
}

li {
  list-style: none;
}

.workshop-reviews {
  background-color: $light-blue;
  // border: 1px solid $blue;
  color: $blue;
  padding: 15px 20px;
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  i {
    font-size: 12px;
  }
  #created-at-little {
    font-weight: 300;
  }
}

.links-show {
  padding-bottom: 10px;
  i {
    font-size: 30px;
    margin-right: 6px;
  }
  .fa-link {
    font-size: 27px;
  }
}

.further-information {
  padding-left: 0;
  padding-right: 20px;
  .fa-tag {
    color: $yellow;
    font-size: 20px;
  }
}

.card-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.carousel-and-booking-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 25px;
}
