.container-big {
  margin-top: 30px;
  background-color: #F4F4F4;
  margin-left: 80px;
  margin-right: 80px;
  .top-of-show-page {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#showCarouselPlantes{
  border: 1px solid gray;
  border-radius: 10px;
}

.show-card-name {
  font-weight: bolder;
}

.price-workshop .btn {
  border-radius: 5px;
}

.show-card-organizer {
  font-weight: bolder;
}

.show-card-animator {
  font-weight: bolder;
}

.place-booking-card {
  margin-left: 0;
  background-color: #DAEEEA;
  height: 380px;
  text-align: center;
  border-radius: 10px;
  h3 {
    color: black;
    margin: 0.8em;
  }
  .button {
    font-weight: bolder;
    border: 1px solid black;
    color: black;
    margin: auto;
    display: block;
    border-radius: 10px;
    background-color: white;
  }
  input {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}

.card.show-card  {
  border-radius: 5px;
  margin: 7px;
  color: 1px solid black;
  p {
    padding: 5px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
  }
}

.thematic {
  margin: 9px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  background-color: #a2b9bc;
  text-align: center;
  justify-content: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

.price-workshop {
  position: relative;
  bottom: -30px;
}

li {
  list-style: none;
}

.card.show-card {
  margin: 1em;
  border: none;
  padding: 1em;
  border-radius: 6px;
}

