.workshops-index-container {
  display: flex;
}

.workshops-index-cards {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  grid-gap: 20px;
  padding: 0px 20px 20px 20px;
}

.img-workshops-index-card {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.rating p {
  margin-top: 3px;
  margin-left: 6px;
}

.workshops-index-card-infos h1 {
  font-size: 16px;
  margin-bottom: 8px;
}

.no-result {
  margin:44px;
}

.no-result h1 {
  font-size: 22px;
}

.no-result h2 {
  font-size: 16px;
}

#index-main-container {
  height: 100%
}

.filter-index-workshop {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 8px 0px 16px 20px;
  form {
    display: flex;
    margin: 0px;
    padding: 0px;
    .form-group {
      margin: 0px;
      padding: 0px;
      label {
        width: 55px;
        text-align: center;
        border: 1px solid $blue;
        color: $blue;
        border-radius: 50rem;
        padding: 4px 8px;
        &:hover {
          cursor: pointer;
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
  .form-check-input {
    display: none;
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .workshops-index-cards {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .workshops-index-card {
    width: auto;
  }
  #workshops-index-map {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .workshops-index-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  #workshops-index-map {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .workshops-index-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  #workshops-index-map {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .workshops-index-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  #workshops-index-map {
    display: block;
  }
}


