.container-big {
  margin-top: 30px;
  background-color: #F4F4F4;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 60px;
  h4 {
    font-weight: 700;
  }
}

.top-of-show-page {
  padding-top: 0;
  padding-left: 5px;
  padding-right: 1px;
  p {
    margin-bottom: 8px;
  }
  #address-and-duration {
    i {
    margin-right: 10px;
    }
  }
}

.show-card-name {
  font-weight: bolder;
}

.price-workshop {
  position: relative;
  bottom: -7px;
  h5 {
    font-size: 25px;
  }
  .button {
    border-radius: 7px;
    padding: 6px 12px;
  }
  .btn-blue:hover {
    opacity: 1;
  }
  #small-per-pers {
    font-weight: 300;
    font-size: 16px;
  }
}

.show-card-organizer {
  font-weight: bolder;
}

.show-card-animator {
  font-weight: bolder;
}

.place-booking-card {
  margin: 0;
  padding: 0;
  background-color: $green;
  height: 420px;
  text-align: center;
  h3 {
    color: black;
    margin: 0.8em;
  }
  .button {
    font-weight: bolder;
    border: 1px solid $blue;
    width: auto;
  }
  .button:hover {
    border: 1px solid white;
    background-color: $blue;
    color: white;
    opacity: 1;
  }
  input {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}

.show-card  {
  border: none;
  border-radius: 10px;
  color: 1px solid black;
  p {
    padding: 5px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
  }
  .form-group {
    margin: 10px 40px;
  }
  .form-control {
    margin: 1.5em 0;
  }
  h4 {
    color: white;
    margin-top: 2em;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.thematic {
  background-color: $yellow;
  color: $white;
  border-radius: 5px;
  padding: 8px 20px;
  text-align: center;
}

li {
  list-style: none;
}

.workshop-reviews {
  background-color: $blue;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  p {
    margin-bottom: 8px;
  }
  i {
    font-size: 12px;
  }
  #created-at-little {
    font-weight: 300;
  }
}

.links-show {
  padding-bottom: 10px;
  i {
    font-size: 30px;
    margin-right: 6px;
  }
  .fa-link {
    font-size: 27px;
  }
}
