<div class="footer" style="background-image: url(<%= image_path "footerbackground.png" %>)">
  <div class="footer-links d-flex">
    <div>
      <h2>Jeu de mains</h2>
      <a href="">À propos</a>
      <a href="">FAQ</a>
      <a href="">Mentions légales</a>
    </div>
    <div>
      <h2>Partenaire</h2>
      <a href="">Devenir partenaire</a>
      <a href="">Guide pratique</a>
    </div>
    <div>
      <h2>Contact</h2>
      <a href="">Nous contacter</a>
      <div class="footer-media">
        <a href="#"><i class="fab fa-instagram ml-2"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    © jeu de mains 2020
  </div>
</div>
