<div class="banner", id="homebanner-margintop", style="background: url(<%= image_path "homebanner1.svg" %>)">
  <div class="container banner-container">
    <h1>Vous avez tout à faire vous-même, sauf chercher !</h1>
  </div>
</div>
