<div class="banner", style="background: url(<%= image_path "homebanner/homebanner1.png" %>)">

  <%= render 'shared/navbar' %>

  <div class="container banner-container">
    <h1>Vous avez tout à faire vous-même, sauf chercher !</h1>
  </div>
</div>
