.banner {
  background-size: cover;
  background-position: center;
  height: 570px;
}
.banner-container {
  padding-top: 150px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  font-weight: bold;
  margin-left: 30px;
  font-size: 32px;
}

.banner {
  .btn-transparent {
    margin-left: 30px;
    width: 125px;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    font-size: 16px;
  }
  .btn-transparent:hover {
    background-color: white;
    color: $blue;
  }
}

