 .button {
  background-color: $green;
  color: $white;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  transition: background 0.3s ease;
}

.btn-blue {
  background-color: $blue;
  color: $white;
}

.btn-yellow {
  background-color: $yellow;
  color: $white;
}

.btn-white {
  background-color: white;
  color: $blue;
}

