// WORKSHOPS CARD ⬇

.workshops-index-card {
  width: 380px;
  height :380px;
  overflow: hidden;
  background: white;
  border-radius: .25rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.workshops-index-card:hover {
  color: $green;
}

.workshops-index-card .img-workshops-index-card {
  background-size: cover;
  height: 250px;
}

.workshops-index-card-infos h1 {
    font-size: 19px;
    margin-bottom: 15px;
    font-weight: 600;
}

.workshops-index-card h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}

.workshops-index-card h3 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 2px;
}

.workshops-index-card h4 {
  font-size: 14px;
  font-weight: normal;
}

.workshops-index-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.rating p {
  margin-top: 2px;
  margin-left: 6px;
}

.workshops-index-card-infos {
  padding: 16px;
  display: block;
}

.img-workshops-index-card {
  height: 300;
  width: 300;
}
// WORKSHOPS CARD ⬆
