.carousel-inner {
  display: flex;
  align-items: center;
  height: 420px;
  width: 100%;
}

.carousel-inner a {
    position: absolute;
    left: 47.5%;
    font-size: 80px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.carousel-inner a:hover {
    opacity: 1;
}

.carousel-item {
  img {
    object-fit: cover;
    width: 100%;
  }
}

#showCarouselPlantes{
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
