#workshops-index-map {
  height: 100vh;
  position: sticky;
  top: 0;
  border-radius: 5px;
  flex-grow: 1;
}

.info-pop-up-workshop {
  display: flex;
}

.mapboxgl-popup {
  max-width: 340px;
  min-width: 240px;
}

.mapboxgl-popup-content {
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.mapboxgl-popup-content h2 {
  font-size: 16px;
  font-weight: normal;
  margin: auto;
  color: $blue;
}

.mapboxgl-popup-content h3 {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: auto;
  color: $blue;
}
.mapboxgl-popup-content h4 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 10px;
  color: $blue;
}

.btn-window {
  width: 220px;
  text-align: center;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 50rem;
  padding: 4px 8px;
  margin-top: 8px;
  &:hover {
    cursor: pointer;
    background-color: $blue;
    color: $white;
  }
}

.img-popup img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 12px;
  border: solid 1px $light-blue;
}

.workshop-pop-up {
  text-align: left;
}

// @media (min-width: 100px) and (max-width: 960px) {
//   #workshops-index-map {
//     position: initial;
//   }
// }
