.navbar-jdm {
  justify-content: space-between;
  background: white;
} .fa-search {
    position: absolute;
    color: gray;
    z-index: 100;
    font-size: 16px;
    top: 27px;
    margin-left: 12px;
  }

.navbar-jdm .search-navbar {
  font-size: 200px;
}

#navbar-homepage {
  background: transparent;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-jdm .navbar-collapse {
  flex-grow: 0;
}

.navbar-jdm .navbar-brand img {
  width: 120px;
}

#btn-navbar, #menuButton {
  background-color: white;
  color: $blue;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-navbar:hover, #menuButton:hover {
  background-color: $light-gray;
  color: $green;
  i {
    color: $blue;
  }
}

#menuButton {
  i {
    padding-right: 8px;
    font-size: 20px;
  }
}

.search-navbar #filter_address {
  height: 44px;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
  padding-left: 35px;
}

.search-navbar .form-group {
  margin-bottom: auto;
}


// Smallest device
@media (min-width: 100px) and (max-width: 767px) {
  #btn-navbar {
    display: none;
  }
}
