.navbar-jdm {
  justify-content: space-between;
  background: white;
}

#navbar-homepage {
  background: transparent;
}

.dropdown-toggle::after {
  display: none;
}


.navbar-jdm .navbar-collapse {
  flex-grow: 0;
}

.navbar-jdm .navbar-brand img {
  height: 36px;
}

#btn-navbar, #menuButton {
  background-color: white;
  color: $blue;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-navbar:hover, #menuButton:hover {
  background-color: $light-gray;
  color: $green;
  i {
    color: $blue;
  }
}

#menuButton {
  i {
    padding-right: 8px;
    font-size: 20px;
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 767px) {
  #btn-navbar {
    display: none;
  }
}
