#sideMenu li {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 60px;
  height: 32px;
}

#sideMenu #menuClose {
  font-size: 25px;
  position: absolute;
  right: 30px;
  top: 20px;
  color: black;
}



